.venv/
vendor/
.env
*.log
__pycache__/

# lokalni home-direktorijum sadrzaj, ne pratimo u git-u
ccpp_env/
/complete_dataset.jsonl
.ipynb_checkpoints/
.bash_history
.bash_logout
.bash_profile
.bashrc
.kshrc
.emacs
.gitconfig
.wget-hsts
.anaconda/
.cache/
.claude/
.claude.json
.cm/
.codex/
.conda/
.config/
.copilot/
.ipython/
.jupyter/
.local/
.mozilla/
.nv/
.ssh/
.virtual_documents/
.vscode-server/
